main {
    margin-top: 6em;
}
#edit {
    margin-top: 8px;
}
footer {
    margin-top: 4em;
}
td {
    padding-right: 2em;
    line-height: 2.4em;
}
body.page-readme p:first-child {
    display: none;
}
