<title>{{ headline|default(source.baseName) }} - Preacher</title>

{% if source.baseName != 'index' %}
<nav id="breadcrumbs">
    <a href="/">Preacher</a>
    &raquo; {{ source.basename|lower }}
</nav>
{% endif %}

<main>
{% block content %}{{ content }}{% endblock %}
</main>

<style>
    body {
        font-family: monospace;
    }
</style>

{% if content matches '/<pre><code/' %}
<link href="https://zeroconfig.github.io/Preacher/css/prism.css" rel="stylesheet" type="text/css" />
<script src="https://zeroconfig.github.io/Preacher/js/prism.js" type="text/javascript"></script>
{% endif %}
